@tailwind base;
@tailwind components;
@tailwind utilities;


/* Typewriter effect with initial delay */
.typewriter h2 {
    color: black;
    overflow: hidden;
    border-right: .15em  transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    width: 0;
  }
  
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  
  .typewriter h2 {
    animation-name: typing, blink-caret;
    animation-duration: 10s, 0.5s;
    animation-delay: 4s, 3.5s; /* 2s delay before typing starts, 3.5s delay before cursor blinking starts */
    animation-fill-mode: forwards; /* Keep the final state after animation */
    animation-iteration-count:inherit; /* Infinite cursor blinking */
    margin-left: 180px;
  }




  /* the video grapher editor point */


  .typewriter1 h5 {
    color: white;
    overflow: hidden;
    border-right: .15em  transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    width: 0;
  }
  
  /* The typing effect */
  @keyframes typing1 {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret1 {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  
  .typewriter1 h5 {
    animation-name: typing, blink-caret;
    animation-duration: 20s, 0.5s;
    animation-delay: 7s, 3.5s; /* 2s delay before typing starts, 3.5s delay before cursor blinking starts */
    animation-fill-mode: forwards; /* Keep the final state after animation */
    animation-iteration-count:inherit; /* Infinite cursor blinking */
    margin-left: 180px;
  }


  .card-img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: blur(8px); /* Add blur effect to the image */
  }
  
  .card {
    overflow: hidden; /* Prevent overflow */
  }


  .namelandingpage{
    margin-left: 0px !important;
  }


  /* who am i css */


  .animated-underline {
    position: relative;
    display: inline-block;
    color: #3498db; /* Change to your preferred color */
  }
  
  .animated-underline::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: -12px; /* Adjust the distance from the h2 */
    left: 50px;
    background-color: #e74c3c; /* Change to your preferred color */
    transform-origin: center;
    transform: scaleX(1);
    transition: transform  1s ;
  }
  
  .animated-underline:hover::before {
    transform: scaleX(2);
  }


/* gallery */

.gallerybody{


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
h1 {
  color: coral;
}
.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
    &:hover img {
      filter: grayscale(0);
    }
    &:hover {
      border-color: coral;
    }
    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }
    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    }
  }
}




